
# Python cache files (recursively)
**/__pycache__/**
**/*.pyc
**/*.pyo
**/*.pyd

# Egg and build info directories (recursively)
**/*.egg
**/*.egg-info/
**/*.eggs/
**/build/
**/dist/

# Environment files (recursively)
**/.env
**/.env.*
**/.azure*

# Jupyter Notebook (recursively)
**/.ipynb_checkpoints/
**/notebooks/**
**/*.ipynb

# pytest cache (recursively)
**/.pytest_cache/

# Logs (recursively)
**/*.log
**/*.tmp

# Compiled C extensions
**/*.so

# Ignore virtual environments (recursively)
**/.env/
**/.venv/

# Cache directories (recursively)
**/.cache/

