# Python cache files (recursively)
**/__pycache__/**
**/egg-info/**

# Environment files (recursively)
**/.env
**/.env.*
**/.azure*
# Jupyter Notebook (recursively)
**/.ipynb_checkpoints
**/notebooks/**
**/.ipynb

# pytest
**/.pytest_cache/

# Logs
**/*.log

# Ignore Python bytecode files
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore __pycache__ directories recursively
**/__pycache__/

# Ignore .egg and .egg-info directories recursively
**/*.egg
**/*.egg-info/
**/*.eggs/

# Ignore virtual environment directories
**/.env/
**/.venv/

# Ignore compiled C extensions
**/*.so

# Ignore distribution and package build directories
**/build/
**/dist/

# Ignore log and temporary files
**/*.log
**/*.tmp

# Ignore cache directories recursively
**/.cache/
